/* Title */
.wsinfer-title {
  -fx-font-size: 150%;
  -fx-font-weight: bold;
  -fx-text-fill: -fx-text-base-color;
}

/* Sub-title */
.wsinfer-sub-title {
  -fx-text-fill: -fx-text-base-color;
  -fx-opacity:0.6;
  -fx-font-style: italic;
}

/* Error-message */
.error-message {
  -fx-text-fill: red;
  -fx-opacity:0.6;
  -fx-background:green;
  -fx-font-style: italic;
}

/* separator */
.wsinfer .separator {
  -fx-line-color: -fx-text-base-color;
  -fx-padding: 15;
}

/* spacing - current use in HBox*/
.standard-spacing {
  -fx-spacing: 7.5;
}

.standard-padding {
  -fx-padding: 5;
  }

/*download button*/
.download-btn {
    -fx-background-image: url("icons/download.png");
}

.download-icon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 14px;
    -fx-fill: -fx-text-base-color;
}

